<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Recuperar senha - PUC Minas</title>

    <link rel="stylesheet" th:href="@{/css/recoverpassword.css}">
</head>

<body>

<div class="recover-container">

    <div class="recover-image-logo-container">
        <img th:src="@{/images/pucminas-logo.png}" alt="Logo PUC Minas">
    </div>

    <div class="recover-form">

        <h2 class="recover-title">Recuperar senha</h2>

        <p class="recover-description">
            Informe seu e-mail para receber as instruções de recuperação da senha.
        </p>

        <form th:action="@{/recoverpassword}" method="post">

            <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="email" required>

            <div class="recover-button-container">
                <button type="submit">Recuperar senha</button>
            </div>

        </form>

        <div class="recover-redirect-options">
            Lembrou sua senha?
            <a th:href="@{/login}">Faça login</a>
        </div>

    </div>

</div>

</body>
</html>