<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Erro - PUC Minas</title>

    <link rel="stylesheet" th:href="@{/css/error.css}" />
  </head>

  <body>
    <div class="error-container">
      <div class="error-image-logo-container">
        <img th:src="@{/images/ASCII.png}" alt="Logo PUC Minas" />
      </div>

      <div class="error-form">
        <h4 class="error-title">Erro</h4>

        <div class="error-message">
          <strong th:if="${erro != null}" th:text="${erro}">
            Ocorreu um erro.
          </strong>

          <span th:if="${erro == null}">
            Ocorreu um erro durante a operação.
          </span>
        </div>

        <p class="error-redirect-options">
          <a th:href="@{/login}"> Voltar para o login </a>

          <span>|</span>

          <a th:href="@{/recoverpassword}"> Recuperar senha </a>
        </p>
      </div>
    </div>
  </body>
</html>
