* {
    box-sizing: border-box; /* Inclui padding e bordas no tamanho total */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef; /* Cor de fundo suave */
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
    overflow: hidden; /* Impede scroll desnecessário */
}

h2 {
    color: #007BFF; /* Azul claro */
    text-align: center;
    margin-bottom: 20px; /* Espaço abaixo do título */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fonte mais estilizada */
    font-size: 2em; /* Tamanho da fonte */
    font-weight: normal; /* Remove o bold */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra suave para o texto */
}

textarea {
    width: 100%; /* Largura total do container */
    max-width: 650px; /* Largura máxima para a textarea */
    min-width: 500px; /* Largura mínima da textarea */
    height: 800px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #007BFF; /* Cor da borda azul */
    border-radius: 5px;
    resize: none; /* Impede o redimensionamento da textarea */
    background-color: #fff; /* Fundo branco */
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

textarea:focus {
    border-color: #0056b3; /* Azul mais escuro ao focar */
    outline: none; /* Remove contorno padrão */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra ao focar */
}
