<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedditAPI Search</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>RedditAPI Search</h2>
    <form action="/result" method="get">
        <label for="community">Comunidade</label>
        <input type="text" id="community" name="community" placeholder="Digite a comunidade (Ex: brdev)">

        <label for="query">Discussão</label>
        <input type="text" id="query" name="query" placeholder="Digite o tópico da discussão (Ex: docker)" required>

        <button type="submit">Buscar</button>
    </form>
</div>
</body>
</html>
