<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>Download de Vídeo do YouTube</h2>

    <form id="videoForm">
        <div class="input-group">
            <label for="url">URL do Vídeo:</label>
            <input type="text" id="url" name="url" placeholder="Cole a URL do vídeo aqui" required>
        </div>

        <button type="submit" class="btn-download">Download</button>
    </form>

    <!-- Label para exibir mensagens de status -->
    <label id="statusLabel">Insira a URL do vídeo.</label>

</div>

<!-- Referência ao script externo -->
<script th:src="@{/js/script.js}"></script>

</body>
</html>
