<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="login-container">
    <div class="login-image-logo-container">
        <img th:src="@{/images/logo-puc-minas.png}" alt="Logo PUC Minas">
    </div>
    <div class="login-form">
        <form th:action="@{/recoverpassword}" method="post" class="login-form">
            <h4 class="login-title">E-mail de recuperação:</h4>
            <input type="email" id="email" name="email" placeholder="email" required>
            <div class="login-button-container">
                <button type="submit">Recuperar senha</button>
            </div>
            <p class="login-redirect-options">
                Lembrou sua senha?
                <a href="/login" style="color: #1170b7; font-weight: bold; margin-left: 5px;">Faça login</a>
            </p>
        </form>
    </div>
</div>
</body>

</html>
